form {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* width: 300px; */
    padding: 20px;
    border: 1px solid #282727;
    border-radius: 8px;
    background-color: #f0eded;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds subtle shadow to the form */
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #151414;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #d31616;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #040404;
}

label {
    font-weight: bold;
}