form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid #282727;
    border-radius: 8px;
    background-color: #ef2d1b;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds subtle shadow to the form */
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #151414;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
}
